{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Shoppy - Contact us</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container5">
        <div class="header">
            <div class="m-0">
                <nav class="navbar navbar-expand-lg px-3 navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a href="{% url 'home' %}" class="navbar-brand ms-auto">Shoppy</a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <div class="navbar-nav ms-auto">
                                <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                                <a href="{% url 'contact' %}" class="nav-item nav-link active">Contact</a>
                            </div>
                            <div class="navbar-nav ms-auto">
                                <a href="{% url 'signup' %}" class="nav-item nav-link active">Login/Signup</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <section class="page3">
            <div class="container">
                <h1 class="title">Let's talk ...</h1>
                <p class="paragraph">Get in touch via the form below, or by emailing &nbsp;<a
                        href="mailto:hiteshrana735@gmail.com?subject=Hello!" class="link">hiteshrana735@gmail.com</a>.
                </p>

                <div class="container2">
                    <form onsubmit="sendEmail(); reset(); return false; " id="wf-form-Email-Form"
                        name="wf-form-Email-Form" data-name="Email Form" method="get">

                        <label for="name-2" class="form-label">Name:</label><br>
                        <input type="text" id="name-2" class="form-input w-input" name="name-2" data-name="Name 2"
                            placeholder="Enter your name" required=""><br>

                        <label for="email-2" class="form-label">Email Address:</label><br>
                        <input type="email" id="email-2" name="email-2" data-name="Email 2"
                            placeholder="Enter your email address" required="" class="form-input w-input"><br>

                        <label for="Message-2" class="form-label">Message:</label><br>
                        <textarea id="Message-2" name="Message-2" placeholder="Enter your message" maxlength="5000"
                            data-name="Message 2" required="" class="form-input form-message w-input"></textarea><br>

                        <input type="submit" value="Submit" class="form-submit">
                    </form>
                </div>

            </div>
        </section>


        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>

        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            function sendEmail(){
                Email.send({
                    Host: "smtp.gmail.com",
                    Username: "hiteshrana735@gmail.com",
                    Password: "hitesh735",
                    To: 'hiteshrana0747@gmail.com',
                    From: document.getElementById("email-2").value,
                    Subject: "This is the subject",
                    Body: "This is body"
                        // "Name: " + document.getElementById("name-2").value
                        // + "<br> Email: " + document.getElementById("email-2").value
                        // // + "<br> Phone no.: " + document.getElementById("phone").value
                        // + "<br> Message: " + document.getElementById("Message-2").value
                }).then(
                    message =>  alert("Message sent succesfully")
                        
                );
            }
        </script>


</body>

</html>